<div class="container">
  <div class="row">
    <div class="col-md">
      <div class=" image">
        <img class="rounded img-fluid" src="https://scontent-frt3-2.cdninstagram.com/vp/1723e26a3f2f087a02f4a7df5aa020e4/5BD7CEA3/t51.2885-15/e35/36908288_282719095620041_2993649779348602880_n.jpg">
        <h2>&hearts;</h2>
      </div>
      <p class="small"><span class="size">Размер 44-52</span><span class="cost">35 р./сутки</span></p>
    </div>
    <div class="col-md">
      <div class=" image">
        <img class="rounded img-fluid" src="https://scontent-frt3-2.cdninstagram.com/vp/05c2b1a895755c6877cc3a475c5c31fc/5C13D77A/t51.2885-15/e35/37346986_1717218451728260_5755138249722953728_n.jpg">
        <h2>&hearts;</h2>
      </div>
      <p class="small"><span class="size">Размер 44-52</span><span class="cost">35 р./сутки</span></p>
    </div>
    <div class="col-md">
      <div class=" image">
        <img class="rounded img-fluid" src="https://scontent-frt3-2.cdninstagram.com/vp/1723e26a3f2f087a02f4a7df5aa020e4/5BD7CEA3/t51.2885-15/e35/36908288_282719095620041_2993649779348602880_n.jpg">
        <h2>&hearts;</h2>
      </div>
      <p class="small"><span class="size">Размер 44-52</span><span class="cost">35 р./сутки</span></p>
    </div>
  </div>
</div>
