body {
  padding-top: 134px;
}

.image {
  position: relative;
  text-align: right;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 33vw;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 134px;
  }

  .image img {
    height: 100vw;
  }
}
@media screen and (max-width: 576px) {
  body {
    padding-top: 110px;
  }
}
.image h2 {
  position: absolute;
  bottom: 0px;
  right: 15px;
  color: white;
  cursor: default;
}

.image h2:hover {
  color: red;
}

.size {}

.cost {
  float: right;
}
