body {
  padding-top: 100px;
}

.col-1 {
  padding: 0 !important;
}

.image {
  position: relative;
  text-align: right;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.card {
  width: 100%;
  height: 33vw;
  object-fit: cover;
}

.image h2 {
  position: absolute;
  bottom: 0px;
  right: 15px;
  color: white;
  cursor: default;
}

.image h2:hover {
  color: red;
}

.information {}

.size {}

.cost {
  float: right;
}

.carousel-item img {
  height: 45vw;
  object-fit: cover;
}

.carousel-vertical-bar, .carousel-information {
  height: 100%;
  padding: 0;
}

.carousel-vertical-bar li {
  list-style-type: none;
}

.carousel-vertical-bar li img {
  cursor: pointer;
  margin-bottom: 10%;
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 90px;
  }
  .container {
    padding: 1% !important;
  }
  .col-4 {
    padding: 1% !important;
  }
  .card {
    height: 50vw;
  }
  .information {
    display: none;
  }
  .carousel-bar, .carousel-information {
    display: none;
  }
  .carousel-item img {
    height: 100vw;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 90px;
  }
  .container {
    padding: 1% !important;
  }
  .col-4 {
    padding: 1% !important;
  }
  .card {
    height: 50vw;
  }
  .information {
    display: none;
  }
  .carousel-bar, .carousel-information {
    display: none;
  }
  .carousel-item img {
    height: 100vw;
  }
}
